.postCard {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 1.5rem;  
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(119deg, transparent, rgba(0, 0, 0, 0.2));
  box-sizing: border-box;
  font-family: Plusjakartasans, sans-serif;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date {
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #d0e6ff;
    }

    .featured {
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: right;
      text-transform: uppercase;
      color: #b3b8c7;
    }
  }
  .title {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .excerpt {
    margin: 15px 0 20px 0;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 45px;
    padding: 0.33rem 1.125rem 0.3rem 1.5rem;
    align-self: flex-start;
    align-items: center;
    border: 0.125rem solid #d0e6ff;
    border-radius: 12rem;
    background-image: none;
    outline-color: #d0e6ff;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0.125rem;

    .btn-text {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 500;
      text-align: left;
      color: #d0e6ff;
    }
    .btn-icon {
      width: 1.25rem;
      height: 1.4rem;
      margin-left: 0.5rem;
      font-size: 1rem;
      color: #d0e6ff;
    }
  }
}
