@use "globals";

.watchtower {
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  .bg-watchtower {
    position: absolute;
    left: auto;
    top: -2rem;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    max-width: 60%;
    height: fit-content;
    mix-blend-mode: soft-light;
    object-fit: contain;

    @media screen and (max-width: 991px) {
      max-width: 60%;
    }

    @media screen and (max-width: 471px) {
      max-width: 80%;
      top: -3rem;
    }
  }

  .blur2-solution {
    max-width: 70%;
    position: absolute;
    top: -10%;
    left: 5%;
    right: 0%;
    bottom: 0%;
    width: 90%;
    height: fit-content;
    max-width: 90vw;
    margin: 0 auto;
    opacity: 1;
    mix-blend-mode: lighten;
  }

  .blur2-solution-2 {
    position: absolute;
    left: -20%;
    top: -50%;
    right: 0%;
    bottom: 0%;
    max-width: 70%;
    height: auto;
    margin: auto;
    opacity: 1;
    mix-blend-mode: lighten;

    @media screen and (max-width: 991px) {
      top: -50%;
      width: 90%;
      max-width: 100vw;
      opacity: 1;
    }

    @media screen and (max-width: 471px) {
      top: 0%;
      right: 0%;
      bottom: 0%;
    }
  }

  .blur2-solution-3 {
    position: absolute;
    left: 0%;
    top: -50%;
    right: 0%;
    bottom: 0%;
    max-width: 70%;
    height: auto;
    margin: auto;
    opacity: 1;
    mix-blend-mode: lighten;

    @media screen and (max-width: 991px) {
      top: -50%;
      width: 90%;
      max-width: 100vw;
      opacity: 1;
    }

    @media screen and (max-width: 471px) {
      top: 0%;
      right: 0%;
      bottom: 0%;
    }
  }

  .title-col {
    @extend .flex-column;
  }

  .card-shadow {
    h6 {
      text-align: center;
      font-family: "Plusjakartasans-bold", sans-serif;
    }
  }

  .small-gap {
    border-left: 1px solid rgba(108, 145, 227, 0.25);

    @media screen and (max-width: 991px) {
      border-left: none;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 4rem 0rem 0rem;

    .image-header-software {
      max-width: 60%;
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 479px) {
    .image-header-software {
      max-width: 80%;
    }

    .watchTower-illustration {
      display: block;
      margin-top: 2rem;
    }
  }
}
