.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem 0;

  @media screen and (max-width: 1202px) {
    max-width: calc(1170px - 2rem);
    padding: 2rem 2rem;
  }

  @media screen and (max-width: 991px) {
    padding: 2rem 2rem;
  }

  @media screen and (max-width: 767px) {
    padding: 4.8rem 2rem 2.8rem;
  }

  @media screen and (max-width: 479px) {
    padding: 3rem 1rem;
    text-align: left;
  }
}
