@use "globals";

.x-ray {
  position: relative;
  padding-top: 2.5rem;

  .bg-watchtower {
    position: absolute;
    left: auto;
    top: -2rem;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    max-width: 60%;
    height: fit-content;
    mix-blend-mode: soft-light;
    object-fit: contain;

    @media screen and (max-width: 991px) {
      max-width: 60%;
    }

    @media screen and (max-width: 479px) {
      max-width: 80%;
      top: -3rem;
    }
  }

  .blur2-solution {
    max-width: 70%;
    position: absolute;
    top: -10%;
    left: 5%;
    right: 0%;
    bottom: 0%;
    width: 90%;
    height: fit-content;
    max-width: 90vw;
    margin: 0 auto;
    opacity: 1;
    mix-blend-mode: lighten;
  }

  .blur2-solution-2 {
    max-width: 70%;
    position: absolute;
    top: -10%;
    left: 5%;
    right: 0%;
    bottom: 0%;
    width: 90%;
    height: fit-content;
    max-width: 90vw;
    margin: 0 auto;
    opacity: 1;
    mix-blend-mode: lighten;

    @media screen and (max-width: 991px) {
      top: 5%;
      left: auto;
      right: auto;
      max-width: 100vw;
      width: 90%;
    }

    @media screen and (max-width: 479px) {
      left: 0%;
      top: 45%;
      right: 0%;
      bottom: 0%;
    }
  }

  .title-col {
    @extend .flex-column;
  }

  .card-shadow {
    h6 {
      text-align: center;
      font-family: "Plusjakartasans-bold", sans-serif;
    }
  }

  .small-gap {
    border-left: 1px solid rgba(108, 145, 227, 0.25);

    @media screen and (max-width: 991px) {
      border-left: none;
    }
  }

  .pricing-table-hidden {
    display: none;
    @media screen and (max-width: 991px) {
      display: grid;
      width: 100%;
      overflow: visible;
      flex-direction: column;
      align-items: flex-start;
      grid-auto-columns: 13.25rem;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
      grid-template-columns: 100%;
      grid-template-rows: auto;

      .title {
        h5 {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 2.5rem;
          line-height: 1.3;
          font-weight: bolder;
        }
        @media screen and (max-width: 479px) {
          h5 {
            font-size: 2rem;
          }
        }
      }

      .pricing-container {
        .w-dropdown {
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          white-space: break-spaces;

          .top {
            .type {
              display: flex;
              overflow: hidden;
              padding: 0.4rem 0.8rem;
              justify-content: space-between;
              cursor: pointer;

              .plus-icon {
                width: 2rem;
              }

              &:hover {
                border-radius: 1rem;
                background-color: hsla(0, 0%, 100%, 0.1);
              }
            }
            .pricing {
              padding: 0.8rem;
              p {
                margin-bottom: 10px;
                font-family: "Avenir next", sans-serif;
                color: #f2f2f2;
                font-size: 1.125rem;
                line-height: 1.7;
              }
            }
            .wrapper-button {
              display: flex;
              flex-wrap: wrap;
              grid-column-gap: 0.75rem;
              grid-row-gap: 0.75rem;
              width: 100%;

              .link {
                padding: 1rem;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                border-radius: 11rem;
                outline-color: #d0e6ff;
                outline-offset: 0px;
                outline-style: none;
                outline-width: 0.125rem;
                color: #d0e6ff;
                text-decoration: none;
                width: 100%;

                .button {
                  width: 100%;
                  max-height: 45px;
                  min-height: 60px;
                  padding-right: 1.5em;
                  padding-left: 1.5em;
                  transition-property: none;
                  padding: 0.8em 1.5em;
                  display: flex;
                  height: 100%;
                  padding-top: 0rem;
                  padding-bottom: 0rem;
                  align-items: center;
                  justify-content: center;
                  border: 0.125rem solid #d0e6ff;
                  border-radius: 12rem;
                  background-image: none;
                  outline-color: #d0e6ff;
                  outline-offset: 0px;
                  outline-style: none;
                  outline-width: 0.125rem;

                  div,
                  svg {
                    display: block;
                    font-size: 0.8rem;
                    transition: 0.3s;
                  }
                  svg {
                    width: 1.25rem;
                    height: 1.4rem;
                    margin-left: 1rem;
                    flex: 0 0 auto;
                    line-height: 1;
                  }
                  &:hover {
                    background-color: #d0e6ff;
                    color: #0f1e2e;
                    svg {
                      fill: #0f1e2e;
                      transform: translate(5px, 0);
                    }
                  }
                }
              }
              .link2 {
                padding: 0.5rem;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                border-radius: 11rem;
                outline-color: #d0e6ff;
                outline-offset: 0px;
                outline-style: none;
                outline-width: 0.125rem;
                color: #d0e6ff;
                text-decoration: none;
                width: calc(100% - 2rem);
                margin: 0 auto;
                background-image: linear-gradient(
                  280deg,
                  #5c12d4 8%,
                  #356eff 53%
                );

                .button {
                  width: 100%;
                  max-height: 45px;
                  min-height: 45px;
                  padding-right: 1.5em;
                  padding-left: 1.5em;
                  transition-property: none;
                  padding: 0.8em 1.5em;
                  display: flex;
                  height: 100%;
                  padding-top: 0rem;
                  padding-bottom: 0rem;
                  justify-content: center;
                  align-items: center;
                  border-radius: 12rem;
                  background-image: none;
                  outline-color: #d0e6ff;
                  outline-offset: 0px;
                  outline-style: none;
                  outline-width: 0.125rem;

                  div,
                  svg {
                    display: block;
                    font-size: 0.8rem;
                    transition: 0.3s;
                  }
                  svg {
                    width: 1.25rem;
                    height: 1.4rem;
                    margin-left: 1rem;
                    flex: 0 0 auto;
                    line-height: 1;
                  }
                  &:hover {
                    background-image: linear-gradient(
                      261deg,
                      #5c12d4 16%,
                      #35ffe7
                    );
                    svg {
                      fill: #0f1e2e;
                      transform: translate(5px, 0);
                    }
                  }
                }
              }
            }

            .grid-2 {
              display: grid;
              overflow: hidden;
              margin-top: 2rem;
              grid-auto-columns: 1fr;
              grid-column-gap: 2px;
              grid-row-gap: 0px;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr;
              height: 0;
              transition: all 400ms ease;
              border-bottom: 1px solid rgba(208, 230, 255, 0.3);

              &.expand {
                height: 700px;

                @media screen and (max-width: 767px) {
                  height: 850px;
                }
              }

              .left {
                display: grid;
                grid-auto-columns: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                margin-bottom: 2rem;

                div {
                  grid-column-start: span 1;
                  grid-column-end: span 1;
                  grid-row-start: span 1;
                  margin-right: 2px;
                  margin-bottom: 2px;
                  padding: 0.5rem 1.5rem;
                  height: 90px;
                  border-bottom: 2px none transparent;
                  background-color: rgba(0, 0, 0, 0.4);
                  backdrop-filter: none;

                  p {
                    margin-bottom: 10px;
                    font-size: 1.125rem;
                    line-height: 1.7;
                    padding-bottom: 0px;
                    font-size: 0.9rem;
                  }
                  &:first-child {
                    border-top-left-radius: 1rem;
                  }
                  &:last-child {
                    border-bottom-left-radius: 1rem;
                  }
                }
              }

              .right {
                display: grid;
                grid-auto-columns: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                margin-bottom: 2rem;
                &.last {
                  div {
                    &:nth-child(odd) {
                      background: rgba(255, 255, 255, 0.15);
                    }
                    &:nth-child(even) {
                      background: rgba(255, 255, 255, 0.1);
                    }
                  }
                }

                @media screen and (max-width: 479px) {
                  &.last {
                    div {
                      &:nth-child(odd) {
                        background: rgba(0, 0, 0, 0.4);
                      }
                      &:nth-child(even) {
                        background: rgba(0, 0, 0, 0.4);
                      }
                    }
                  }
                }

                div {
                  grid-column-start: span 1;
                  grid-column-end: span 1;
                  grid-row-start: span 1;
                  margin-right: 2px;
                  margin-bottom: 2px;
                  padding: 0.5rem 1.5rem;
                  border-bottom: 2px none transparent;
                  backdrop-filter: none;

                  &:nth-child(odd) {
                    background: rgba(0, 0, 0, 0.4);
                  }
                  &:nth-child(even) {
                    background: rgba(0, 0, 0, 0.3);
                  }

                  p {
                    margin-bottom: 10px;
                    font-size: 1.125rem;
                    line-height: 1.7;
                    padding-bottom: 0px;
                    font-size: 0.9rem;
                  }
                  &:first-child {
                    border-top-right-radius: 1rem;
                  }
                  &:last-child {
                    border-bottom-right-radius: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .pricing-table {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .pricing {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 15rem 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    div {
      grid-column-start: span 1;
      grid-column-end: span 1;
      grid-row-start: span 1;
      grid-row-end: span 1;
    }
    .ems {
      padding: 1rem;
      height: 12.5rem;
      display: flex;
      flex-direction: column;
      align-self: end;
      justify-content: space-between;
      font-size: 1.4vw;

      .build {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .tag {
        display: inline;
        margin-left: 8px;
        padding: 0.4rem 0.8rem;
        border-radius: 10rem;
        background-color: hsla(0, 0%, 100%, 0.18);
        font-size: 1rem;
        font-weight: 600;
      }

      .regular {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: "Avenir next", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        color: #f2f2f2;
        line-height: 1.7;
      }

      .wrapper-button {
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
        width: 100%;

        .link {
          overflow: hidden;
          justify-content: center;
          align-items: center;
          border-radius: 11rem;
          outline-color: #d0e6ff;
          outline-offset: 0px;
          outline-style: none;
          outline-width: 0.125rem;
          color: #d0e6ff;
          text-decoration: none;
          width: 100%;

          .button {
            width: 100%;
            max-height: 45px;
            min-height: 45px;
            padding-right: 1.5em;
            padding-left: 1.5em;
            transition-property: none;
            padding: 0.8em 1.5em;
            display: flex;
            height: 100%;
            padding-top: 0rem;
            padding-bottom: 0rem;
            align-items: center;
            border: 0.125rem solid #d0e6ff;
            border-radius: 12rem;
            background-image: none;
            outline-color: #d0e6ff;
            outline-offset: 0px;
            outline-style: none;
            outline-width: 0.125rem;

            div,
            svg {
              display: block;
              flex: 1;
              font-size: 0.8rem;
              transition: 0.3s;
            }
            svg {
              width: 1.25rem;
              height: 1.4rem;
              margin-left: 1rem;
              flex: 0 0 auto;
              line-height: 1;
            }
            &:hover {
              background-color: #d0e6ff;
              color: #0f1e2e;
              svg {
                fill: #0f1e2e;
                transform: translate(5px, 0);
              }
            }
          }
        }
        .link2 {
          overflow: hidden;
          justify-content: center;
          align-items: center;
          border-radius: 11rem;
          outline-color: #d0e6ff;
          outline-offset: 0px;
          outline-style: none;
          outline-width: 0.125rem;
          color: #d0e6ff;
          text-decoration: none;
          width: 100%;
          background-image: linear-gradient(280deg, #5c12d4 8%, #356eff 53%);

          .button {
            width: 100%;
            max-height: 45px;
            min-height: 45px;
            padding-right: 1.5em;
            padding-left: 1.5em;
            transition-property: none;
            padding: 0.8em 1.5em;
            display: flex;
            height: 100%;
            padding-top: 0rem;
            padding-bottom: 0rem;
            align-items: center;
            border-radius: 12rem;
            background-image: none;
            outline-color: #d0e6ff;
            outline-offset: 0px;
            outline-style: none;
            outline-width: 0.125rem;

            div,
            svg {
              display: block;
              flex: 1;
              font-size: 0.8rem;
              transition: 0.3s;
            }
            svg {
              width: 1.25rem;
              height: 1.4rem;
              margin-left: 1rem;
              flex: 0 0 auto;
              line-height: 1;
            }
            &:hover {
              background-image: linear-gradient(261deg, #5c12d4 16%, #35ffe7);
              svg {
                fill: #0f1e2e;
                transform: translate(5px, 0);
              }
            }
          }
        }
      }
    }
    .block-pricing-structure {
      margin-right: 2px;
      margin-bottom: 2px;
      padding: 1.5rem;
      border-bottom: 2px none transparent;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: none;

      p {
        margin-top: 0;
        padding-bottom: 0px;
        font-family: "Avenir next", sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }
    .round-top-left {
      border-top-left-radius: 1rem;
    }
    .round-bottom-left {
      border-bottom-left-radius: 1rem;
    }
    .round-top-right {
      border-top-right-radius: 1rem;
    }
    .round-bottom-right {
      border-bottom-right-radius: 1rem;
    }
    .enterprise-block-pricing-structure {
      margin-left: 0.5rem;
      background-color: hsla(0, 0%, 100%, 0.1);
    }
    .round-top-enterprise-block-pricing-structure {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    .round-bottom-enterprise-block-pricing-structure {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 4rem 0rem 0rem;

    .image-header-software {
      max-width: 60%;
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 479px) {
    .image-header-software {
      max-width: 80%;
    }

    .watchTower-illustration {
      display: block;
      margin-top: 2rem;
    }
  }
}
