.terms {
  padding-top: 2rem;
  .top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 14rem;
    background-image: url("../../assets/images/bg-blog-top.jpeg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    h1 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: "Avenir next", sans-serif;
      font-size: 4rem;
      line-height: 1.3;
      font-weight: bolder;
    }

    .image-header1 {
      position: absolute;
      left: -16rem;
      top: auto;
      right: auto;
      bottom: -13rem;
      width: 38.375rem;
      height: 35.97412109375rem;
      mix-blend-mode: color-dodge;
    }

    .image-header2 {
      position: absolute;
      left: auto;
      top: -19.2rem;
      right: -16.7rem;
      bottom: auto;
      width: 46.25rem;
      height: 44.23486328125rem;
      mix-blend-mode: color-dodge;
    }

    @media screen and (max-width: 767px) {
      padding: 4.8rem 2rem 2.8rem;
      padding-top: 10rem;
      padding-bottom: 14rem;

      .image-header1 {
        left: -30rem;
      }

      .image-header2 {
        right: -40rem;
      }
    }

    @media screen and (max-width: 479px) {
      padding: 3rem 1rem;
      padding-top: 6rem;
      padding-bottom: 4rem;

      h1 {
        font-size: 2.4rem;
      }
    }
  }

  .body {
    background-color: #fff;

    .table-toc {
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto;

      @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        .privacy-policy-sticky {
          position: static;
          height: auto;
        }
      }
    }

    .privacy-policy-sticky {
      grid-column-start: span 1;
      grid-column-end: span 1;
      grid-row-start: span 1;
      grid-row-end: span 1;
      position: sticky;
      top: 0rem;
      bottom: 0rem;
      overflow: auto;
      height: 100vh;
      padding-top: 1rem;

      p {
        margin-top: 25px;
        font-family: "Avenir next", sans-serif;
        font-size: 0.75rem;
        font-weight: bolder;
        letter-spacing: 2px;
        color: #828282;
        text-transform: uppercase;
      }

      .policy-title {
        display: block;
        margin-bottom: 1rem;
        font-family: "Avenir next demi", sans-serif;
        color: #222;
        font-size: 1rem;
        font-weight: bolder;
        text-decoration: none;
      }
    }

    .privacy-policy-content {
      padding: 2rem 4rem;
      height: max-content;
      background-color: #fff;
      color: #4f4f4f;

      .title {
        margin-top: 60px;
        margin-bottom: 40px;
        font-family: "Plusjakartasans-bold", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: #333;
      }
      h6 {
        font-family: "Avenir next", sans-serif;
        font-size: 0.75rem;
        font-weight: bolder;
        letter-spacing: 2px;
        color: #828282;
        text-transform: uppercase;
      }
      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: "Avenir next", sans-serif;
        font-size: 2.5rem;
        line-height: 3.5rem;
        color: #4f4f4f;
      }
      .paragraph {
        margin-bottom: 10px;
        font-family: "Avenir next", sans-serif;
        font-size: 1.125rem;
        color: #4f4f4f;
        line-height: 1.6;

        strong {
          font-family: "Plusjakartasans-bold", sans-serif;
          font-weight: bolder;
          color: #4f4f4f;
        }

        i {
          font-weight: 400;
          padding-top: 4px;
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 4px;
          font-family: source-serif-pro, Georgia, Cambria, "Times New Roman",
            Times, serif;
          font-style: italic;
          word-wrap: break-word;
        }
        code {
          background-color: #f3f3f3;
          color: #e33333;
          font-weight: 400;
          padding-top: 4px;
          padding-left: 8px;
          padding-right: 8px;
          padding-bottom: 4px;
          font-family: "Plusjakartasans", sans-serif;
          font-style: normal;
          font-size: 16px;
          vertical-align: bottom;
          word-wrap: break-word;
        }
      }
      .link {
        color: #3d5df1;
        word-wrap: break-word;
        text-decoration: underline;
      }
      .blockquote {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        border-left: 10px solid #0c0c0c;
        border-right: unset;
        border-top: unset;
        text-align: left;
        font-size: 20px;
        border-radius: 0.375rem;
        background-color: #f2f2f2;
        font-family: "Avenir next", sans-serif;
        color: #333;
        line-height: 1.6;
        font-weight: 500;
      }
      .code-block {
        padding: 20px;
        background-color: #f3f3f3;
        font-family: source-code-pro, Menlo, Monaco, "Courier New", Courier,
          monospace;
        font-size: 16px;
        line-height: 1.6;
      }
      .caption {
        font-size: 12px;
        color: silver;
        text-align: center;

        .link {
          color: silver;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }
  }
}
